input{
	border:none;
	margin-top:10px;
}

input[type="text"],input[type="date"],input[type="number"]{
	border-radius: 7px;
	line-height:10px;
	height:44px;
	
}
.b{
	margin-top: 10px;
}
select{
	height:44px;
	margin-top:10px;
 	border-radius:7px;
	opacity: 0.75;
	color:#555;
	border:none;
}
.checkpresent{
	margin-top: 10px;
}