
input[type="text"],input[type="date"]{
	border-radius: 7px;
	line-height:10px;
}
.color{
	border-radius: 7px;
	height:44px;
}
.fuel{
	height:44px;
	margin-top:5px;
 	border-radius:7px;
	opacity:0.35;
	color:#555;
	border:1px solid #777;

}